@page "/Success"
@inject NavigationManager NavManager

<div class="row">
    <div class="col"></div>
    <div class="col-6">
        <UniversityHeader></UniversityHeader>
        <div class="mb-5"></div>
        <div class="d-flex aligns-items-center justify-content-center" style="margin-top:auto; margin-bottom:auto;">
            <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_pqnfmone.json" background="transparent" speed="1" style="width: 250px; height: 250px;" autoplay></lottie-player>
        </div>
        <div class="mb-4"></div>
        <div class="text-center">
            <p>
                إكتملت عملية تسجيل البيانات 
            </p>
            <p>
                شكرا لاستخدام نظام التسجيل الالكتروني
            </p>
            <div class="btn btn-primary" @onclick="GoHome">العودة</div>
        </div>
    </div>
    <div class="col"></div>
</div>

@code {
    private void GoHome()
    {
            NavManager.NavigateTo("/");
    }
}