<div class="text-center" style="margin-top:50px;">
    <img src="/assets/sennar_logo.png" height="100" />
    <h3>جامعة سنار</h3>
    <div class="mt-3"></div>
    <p>التسجيل الإلكتروني للعام 2023</p>
</div>